n8n-workflows/call-analyzer-gdrive-auto.json
{
  "name": "Call Intel — Auto-Analyze Mojo Recordings",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute", "minute": 5 }]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": "={{ /* SET YOUR FOLDER ID HERE */ }}",
        "event": "fileCreated",
        "options": {}
      },
      "id": "trigger-gdrive",
      "name": "Watch Mojo Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "download-file",
      "name": "Download MP3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "authorization", "value": "={{ $env.ASSEMBLYAI_API_KEY }}" },
            { "name": "content-type", "value": "application/octet-stream" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/octet-stream",
        "body": "={{ $binary.data }}",
        "options": {}
      },
      "id": "upload-assemblyai",
      "name": "Upload to AssemblyAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "authorization", "value": "={{ $env.ASSEMBLYAI_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_url: $json.upload_url, speaker_labels: true, punctuate: true, format_text: true, speech_models: ['universal-2'] }) }}",
        "options": {}
      },
      "id": "submit-transcription",
      "name": "Submit Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-transcription",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.assemblyai.com/v2/transcript/' + $('Submit Transcription').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "authorization", "value": "={{ $env.ASSEMBLYAI_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "poll-transcription",
      "name": "Poll Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-status",
      "name": "Transcription Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait 10s Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1540, 520]
    },
    {
      "parameters": {
        "jsCode": "// Format diarized transcript\nconst data = $('Poll Transcription').item.json;\nconst fileName = $('Watch Mojo Folder').item.json.name || 'unknown.mp3';\n\nlet transcript = '';\nif (data.utterances && data.utterances.length > 0) {\n  transcript = data.utterances.map(u => {\n    const speaker = u.speaker === 'A' ? 'Agent' : 'Prospect';\n    return `${speaker}: ${u.text}`;\n  }).join('\\n\\n');\n} else {\n  transcript = data.text || '';\n}\n\nreturn [{\n  json: {\n    transcript,\n    fileName,\n    transcriptId: data.id,\n    audioDuration: data.audio_duration\n  }\n}];"
      },
      "id": "format-transcript",
      "name": "Format Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1500, system: 'You are an elite real estate sales coach analyzing prospect call transcripts. The agent is Daniel Stewart at The Finest Homes in St. George, Utah, targeting expired listings, FSBOs, and nightly rental owners in the $500K–$1M+ range.\\n\\nAnalyze the transcript and return ONLY a valid JSON object — no markdown, no preamble, no explanation:\\n{\\n  \"scores\": { \"rapport\": <0-100>, \"discovery\": <0-100>, \"objection_handling\": <0-100>, \"talk_ratio\": <0-100>, \"next_step\": <0-100>, \"overall\": <0-100> },\\n  \"talk_ratio_estimate\": \"<agent%> agent / <prospect%> prospect\",\\n  \"call_summary\": \"<2-3 sentence summary>\",\\n  \"wins\": [\"<win>\", \"<win>\", \"<win>\"],\\n  \"coaching_notes\": [{\"issue\": \"<issue>\", \"fix\": \"<fix>\"}, {\"issue\": \"<issue>\", \"fix\": \"<fix>\"}, {\"issue\": \"<issue>\", \"fix\": \"<fix>\"}],\\n  \"best_moment\": \"<best moment>\",\\n  \"missed_opportunity\": \"<biggest missed opportunity>\",\\n  \"lead_temperature\": \"hot|warm|cold|dead\",\\n  \"recommended_followup\": \"<next action with timing and script>\",\\n  \"key_motivations\": [\"<motivation>\"],\\n  \"objections_detected\": [\"<objection>\"],\\n  \"appointment_set\": <true|false>,\\n  \"next_step_detail\": \"<what was agreed or null>\"\\n}\\n\\nBe brutally honest. This agent wants to improve, not feel validated.', messages: [{ role: 'user', content: 'Call Type: mojo_dialer\\nAgent: Daniel Stewart\\nContact: Unknown\\nFile: ' + $json.fileName + '\\n\\nTranscript:\\n' + $json.transcript }] }) }}",
        "options": {}
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response and build email\nconst claudeData = $json;\nconst rawText = claudeData.content?.find(b => b.type === 'text')?.text || '';\nconst cleaned = rawText.replace(/```json|```/g, '').trim();\nconst result = JSON.parse(cleaned);\n\nconst fileName = $('Format Transcript').item.json.fileName;\nconst transcript = $('Format Transcript').item.json.transcript;\nconst scores = result.scores;\nconst sc = (s) => s >= 80 ? '🟢' : s >= 60 ? '🟡' : '🔴';\n\nconst emailHtml = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: #b45309; color: white; padding: 16px 24px; border-radius: 8px 8px 0 0;\">\n    <h2 style=\"margin: 0;\">📞 Call Intel — New Analysis</h2>\n    <p style=\"margin: 4px 0 0; opacity: 0.9; font-size: 14px;\">${fileName}</p>\n  </div>\n  \n  <div style=\"background: #f8f9fb; padding: 24px; border: 1px solid #e2e8f0;\">\n    <div style=\"text-align: center; margin-bottom: 20px;\">\n      <div style=\"font-size: 48px; font-weight: 800; color: ${scores.overall >= 80 ? '#16a34a' : scores.overall >= 60 ? '#ca8a04' : '#dc2626'};\">${scores.overall}</div>\n      <div style=\"color: #64748b; font-size: 12px; text-transform: uppercase; letter-spacing: 2px;\">Overall Score</div>\n    </div>\n    \n    <table style=\"width: 100%; font-size: 14px; margin-bottom: 16px;\">\n      <tr><td>${sc(scores.rapport)} Rapport</td><td style=\"text-align:right; font-weight:600;\">${scores.rapport}</td></tr>\n      <tr><td>${sc(scores.discovery)} Discovery</td><td style=\"text-align:right; font-weight:600;\">${scores.discovery}</td></tr>\n      <tr><td>${sc(scores.objection_handling)} Objections</td><td style=\"text-align:right; font-weight:600;\">${scores.objection_handling}</td></tr>\n      <tr><td>${sc(scores.talk_ratio)} Talk Ratio</td><td style=\"text-align:right; font-weight:600;\">${scores.talk_ratio}</td></tr>\n      <tr><td>${sc(scores.next_step)} Next Step</td><td style=\"text-align:right; font-weight:600;\">${scores.next_step}</td></tr>\n    </table>\n    \n    <div style=\"background: white; border: 1px solid #e2e8f0; border-radius: 6px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-size: 11px; color: #64748b; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 6px;\">Lead Temperature</div>\n      <div style=\"font-size: 18px; font-weight: 700; color: ${result.lead_temperature === 'hot' ? '#dc2626' : result.lead_temperature === 'warm' ? '#ca8a04' : '#2563eb'};\">${(result.lead_temperature || 'unknown').toUpperCase()} ${result.appointment_set ? '✅ Appointment Set' : ''}</div>\n    </div>\n    \n    <div style=\"background: white; border: 1px solid #e2e8f0; border-radius: 6px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-size: 11px; color: #64748b; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 6px;\">Summary</div>\n      <p style=\"margin: 0; font-size: 14px; line-height: 1.6;\">${result.call_summary}</p>\n    </div>\n    \n    <div style=\"background: white; border: 1px solid #e2e8f0; border-left: 3px solid #b45309; border-radius: 6px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-size: 11px; color: #b45309; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 6px;\">Top Coaching Note</div>\n      <p style=\"margin: 0; font-size: 14px;\"><strong>${result.coaching_notes?.[0]?.issue || ''}</strong></p>\n      <p style=\"margin: 4px 0 0; font-size: 13px; color: #475569;\">Try: ${result.coaching_notes?.[0]?.fix || ''}</p>\n    </div>\n    \n    <div style=\"background: white; border: 1px solid #e2e8f0; border-left: 3px solid #16a34a; border-radius: 6px; padding: 14px; margin-bottom: 12px;\">\n      <div style=\"font-size: 11px; color: #16a34a; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 6px;\">Recommended Follow-Up</div>\n      <p style=\"margin: 0; font-size: 14px; line-height: 1.6;\">${result.recommended_followup}</p>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 20px;\">\n      <a href=\"https://coach-stewy-call-analyzer.netlify.app/\" style=\"background: #b45309; color: white; text-decoration: none; padding: 12px 24px; border-radius: 6px; font-size: 14px; font-weight: 600;\">View Full Analysis in Call Intel →</a>\n    </div>\n  </div>\n</div>\n`;\n\nreturn [{\n  json: {\n    emailHtml,\n    emailSubject: `📞 Call Intel: ${scores.overall}/100 — ${(result.lead_temperature || 'unknown').toUpperCase()} lead (${fileName})`,\n    result,\n    fileName,\n    transcript\n  }\n}];"
      },
      "id": "build-email",
      "name": "Build Email Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "sendTo": "dstewa77@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2420, 300]
    }
  ],
  "connections": {
    "Watch Mojo Folder": {
      "main": [[{ "node": "Download MP3", "type": "main", "index": 0 }]]
    },
    "Download MP3": {
      "main": [[{ "node": "Upload to AssemblyAI", "type": "main", "index": 0 }]]
    },
    "Upload to AssemblyAI": {
      "main": [[{ "node": "Submit Transcription", "type": "main", "index": 0 }]]
    },
    "Submit Transcription": {
      "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "Poll Transcription", "type": "main", "index": 0 }]]
    },
    "Poll Transcription": {
      "main": [[{ "node": "Transcription Done?", "type": "main", "index": 0 }]]
    },
    "Transcription Done?": {
      "main": [
        [{ "node": "Format Transcript", "type": "main", "index": 0 }],
        [{ "node": "Wait 10s Retry", "type": "main", "index": 0 }]
      ]
    },
    "Wait 10s Retry": {
      "main": [[{ "node": "Poll Transcription", "type": "main", "index": 0 }]]
    },
    "Format Transcript": {
      "main": [[{ "node": "Claude Analysis", "type": "main", "index": 0 }]]
    },
    "Claude Analysis": {
      "main": [[{ "node": "Build Email Summary", "type": "main", "index": 0 }]]
    },
    "Build Email Summary": {
      "main": [[{ "node": "Email Alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "call-intel" }]
}
